* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/images/laptop_special.jpg") no-repeat center center / cover;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #fff;
  border-radius: 12px;
  padding: 40px;
  width: 420px;
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.container h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}

.input-box {
  position: relative;
  margin-bottom: 18px;
}

.input-box i {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #fff;
}

.input-box input {
  width: 100%;
  padding: 12px 15px 12px 40px;
  border-radius: 45px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  outline: none;
}

.input-box input::placeholder {
  color: #eee;
  font-size: 14px;
}

.country select {
  width: 100%;
  padding: 10px;
  border-radius: 45px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  outline: none;
}

.country option {
  background: #333;
  color: #fff;
}

.radio-btn {
  margin: 12px 0;
  color: #fff;
}

.check {
  margin: 15px 0;
  color: #fff;
  font-size: 14px;
}

.btn button {
  width: 100%;
  padding: 12px;
  border-radius: 45px;
  border: 2px solid #fff;
  background: #fff;
  color: black;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.btn button:hover {
  cursor: pointer;
  background: transparent;
  color: #fff;
}
.container .login p{
  background: transparent;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 90%;
}
.container .login p a{
  text-decoration: none;
  color: #fff;
  font-size: 120%;
  font-weight: 600;
  padding-left: 5px;
}
.container .login a:hover{
  text-decoration: underline;
}